# Explore here

It's recommended to use this notebook for exploration purposes.

For example: 

1. You could import the CSV generated by python into your notebook and explore it.
2. You could connect to your database using `pandas.read_sql` from this notebook and explore it.

In [1]:
# Example reading the SQL database from here

#from utils import db_connect
#import pandas as pd
#engine = db_connect()

#dataframe = pd.read_sql("Select * from books;", engine)
#print(dataframe.describe())

In [2]:
!pip install plotly

Requirement already satisfied: plotly in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from plotly) (8.0.1)

In [25]:


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
#import seaborn as sns

In [4]:
# Example importing the CSV here

# dataframe = pd.read_csv('../path/to/file.csv')
# dataframe.describe()

In [26]:
df_raw = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/logistic-regression-project-tutorial/main/bank-marketing-campaign-data.csv', delimiter=';')

In [27]:
df_raw.to_csv('../data/raw/bank-marketing-campaign-data.csv')

In [28]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [8]:
""" DICCIONARIO de DATOS
Age (numerical)
Job: Type of Job (categorical)
Marital: marital status (categorical)
Education: (categorical)
Default: has credit in default? (categorical)
Housing: has housing loan? (categorical)
Loan: has personal loan? (categorical)
contact: contact communication type (categorcial)
month: last contact month of year (categorical)
day_of_week: last contact day of the week (categorical)
duration: last contact duration, in seconds (numerical)
Important note: this output highly affects the output target (if duration = 0, then y = 'no'). Yet, the duration is not known before a call is performed. Also, after the end of the call, y is obviously known. Consider if you should include it or not for a realistic predictive model.
campaign: number of contacts performed during this campaign and for this client (numerical)
pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
previous: number of contacts performed before this campaign and for this client (numerical)
poutcome: outcome of the previous marketing campaign (categorical)
Important note: this attribute has three categories: 'failure', 'success' and 'non-existent'. 86% of the data falls into 'non-existent' category.
emp.var.rate: employment variation rate - quarterly indicator (numeric)
cons.price.idx: consumer price index- monthly indicator (numeric)
cons.conf.idx: consumer confidence index - monthly indicator (numeric)
euribor3m: euribor 3 month rate: - daily indicator(numeric)
nr.employed: number of employees - quarterly indicator (numeric)
Target variable:
y: has the client subscribed a term deposit?
"""

" DICCIONARIO de DATOS\nAge (numerical)\nJob: Type of Job (categorical)\nMarital: marital status (categorical)\nEducation: (categorical)\nDefault: has credit in default? (categorical)\nHousing: has housing loan? (categorical)\nLoan: has personal loan? (categorical)\ncontact: contact communication type (categorcial)\nmonth: last contact month of year (categorical)\nday_of_week: last contact day of the week (categorical)\nduration: last contact duration, in seconds (numerical)\nImportant note: this output highly affects the output target (if duration = 0, then y = 'no'). Yet, the duration is not known before a call is performed. Also, after the end of the call, y is obviously known. Consider if you should include it or not for a realistic predictive model.\ncampaign: number of contacts performed during this campaign and for this client (numerical)\npdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)\nprevious: number of contacts performed before this campaign and for this client (numerical)\npoutcome: outcome of the previous marketing campaign (categorical)\nImportant note: this attribute has three categories: 'failure', 'success' and 'non-existent'. 86% of the data falls into 'non-existent' category.\nemp.var.rate: employment variation rate - quarterly indicator (numeric)\ncons.price.idx: consumer price index- monthly indicator (numeric)\ncons.conf.idx: consumer confidence index - monthly indicator (numeric)\neuribor3m: euribor 3 month rate: - daily indicator(numeric)\nnr.employed: number of employees - quarterly indicator (numeric)\nTarget variable:\ny: has the client subscribed a term deposit?\n"

In [36]:
df_raw.sample(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
13178,34,blue-collar,married,basic.9y,no,yes,no,cellular,jul,wed,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
34694,31,entrepreneur,married,university.degree,no,yes,no,cellular,may,thu,...,3,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no
13726,25,admin.,single,high.school,no,yes,no,cellular,jul,thu,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,yes
24203,53,unemployed,married,university.degree,no,unknown,unknown,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
5718,30,admin.,married,high.school,no,yes,no,telephone,may,mon,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [29]:
df_raw['job'].value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [30]:
df_raw['marital'].value_counts()

married     24928
single      11568
divorced     4612
unknown        80
Name: marital, dtype: int64

In [ ]:
# Datos unknown reemplazamos por el mayor

In [31]:
df_raw['education'].value_counts()

university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [32]:
# Verificamos los Analfabetos cuántos son y cómo puede influir
df_raw[df_raw['education']=='illiterate'][['education','y']]

        education    y
5393   illiterate   no
6928   illiterate   no
12383  illiterate   no
14445  illiterate   no
14486  illiterate   no
16269  illiterate   no
17739  illiterate   no
22402  illiterate   no
22642  illiterate   no
26680  illiterate   no
26689  illiterate  yes
26756  illiterate   no
28626  illiterate   no
28627  illiterate  yes
35306  illiterate   no
37355  illiterate  yes
37813  illiterate  yes
37822  illiterate   no

In [13]:
#df_raw['education'][df_raw['education'].isin(['unknown','illiterate'])] = 'unknown'
#df_raw['education'][df_raw['education'] == 'illiterate'] = 'unknown'

In [33]:
df_raw['default'].value_counts()

no         32588
unknown     8597
yes            3
Name: default, dtype: int64

In [34]:
df_raw['housing'].value_counts()

yes        21576
no         18622
unknown      990
Name: housing, dtype: int64

In [35]:
df_raw['loan'].value_counts()

no         33950
yes         6248
unknown      990
Name: loan, dtype: int64

In [17]:
df_raw['contact'].value_counts()

cellular     26144
telephone    15044
Name: contact, dtype: int64

In [18]:
df_raw['month'].value_counts()

may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: month, dtype: int64

In [19]:
df_raw['day_of_week'].value_counts()

thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: day_of_week, dtype: int64

In [20]:
df_raw['poutcome'].value_counts()

nonexistent    35563
failure         4252
success         1373
Name: poutcome, dtype: int64

In [21]:
df_raw['y'].value_counts()

no     36548
yes     4640
Name: y, dtype: int64

In [22]:
# Variable desbalanceada
print(35563/41188)
print(4640/41188)

0.8634310964358551
0.11265417111780131

In [23]:
#df_raw.sample(5)

In [37]:
df = df_raw.copy()

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [39]:
df['job'].value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [41]:
#Paso variables a categoricas
cat_vars = df.columns[df.dtypes == 'object']
for var in cat_vars:
    df[var] = df[var].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  category
 2   marital         41188 non-null  category
 3   education       41188 non-null  category
 4   default         41188 non-null  category
 5   housing         41188 non-null  category
 6   loan            41188 non-null  category
 7   contact         41188 non-null  category
 8   month           41188 non-null  category
 9   day_of_week     41188 non-null  category
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  category
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  category
dtypes: category(11), float64(5), int64(5)
memory usage: 3.6 MB

In [42]:
df.loc[df['marital'] == 'unknown','marital'] = 'married'

In [43]:
df['age'].unique()

array([56, 57, 37, 40, 45, 59, 41, 24, 25, 29, 35, 54, 46, 50, 39, 30, 55,
       49, 34, 52, 58, 32, 38, 44, 42, 60, 53, 47, 51, 48, 33, 31, 43, 36,
       28, 27, 26, 22, 23, 20, 21, 61, 19, 18, 70, 66, 76, 67, 73, 88, 95,
       77, 68, 75, 63, 80, 62, 65, 72, 82, 64, 71, 69, 78, 85, 79, 83, 81,
       74, 17, 87, 91, 86, 98, 94, 84, 92, 89])

In [49]:
df['age'].describe()

count    41188.00000
mean        40.02406
std         10.42125
min         17.00000
25%         32.00000
50%         38.00000
75%         47.00000
max         98.00000
Name: age, dtype: float64

In [53]:
df.boxplot(by='age')

array([[<AxesSubplot:title={'center':'campaign'}, xlabel='[age]'>,
        <AxesSubplot:title={'center':'cons.conf.idx'}, xlabel='[age]'>,
        <AxesSubplot:title={'center':'cons.price.idx'}, xlabel='[age]'>],
       [<AxesSubplot:title={'center':'duration'}, xlabel='[age]'>,
        <AxesSubplot:title={'center':'emp.var.rate'}, xlabel='[age]'>,
        <AxesSubplot:title={'center':'euribor3m'}, xlabel='[age]'>],
       [<AxesSubplot:title={'center':'nr.employed'}, xlabel='[age]'>,
        <AxesSubplot:title={'center':'pdays'}, xlabel='[age]'>,
        <AxesSubplot:title={'center':'previous'}, xlabel='[age]'>]],
      dtype=object)

Error in callback <function flush_figures at 0x7fe023d049d0> (for post_execute):

KeyboardInterrupt:

In [54]:
df = df[(df['age'] >= 25) & (df['age']<=47)]

In [44]:
df['duration'].unique()

array([ 261,  149,  226, ..., 1246, 1556, 1868])

In [ ]:
#sustituir los valores de education
df = df[(df['education'] == "basic.9y" ,) & (df['age']<=47)]

In [46]:
#list(df['duration'].unique())

In [47]:
df['y'].value_counts()

no     36548
yes     4640
Name: y, dtype: int64